on:
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        # If not specified, actions/checkout checks out in detached HEAD state,
        #  while git-auto-commit-action needs a branch to push to
        ref: ${{ github.head_ref }}

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
      with:
        python-version: 3.x

    - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

    - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7
      if: always()
      with:
        commit_message: pre-commit autofixes
